.hidden {
    display: none;
}

.custom-forgot-password {
    color: black;
}

.custom-login {
    color: #dc3545;
}

.continue-btn {
    background-color: black;
    color: white;
    border: 1px solid black;
    padding: 6px 14px;
}

.back-btn {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 6px 14px;
}